<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interdroid.swan.cuckoo_station_sensor"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".TrainSensor$ConfigurationActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher" >
            <meta-data
                android:name="entityId"
                android:value="train" />
            <meta-data
                android:name="valuePaths"
                android:value="departure" />
            <meta-data
                android:name="units"
                android:value="ms" />
            <meta-data
                android:name="authority"
                android:value="interdroid.swan.cuckoo_station_sensor.train" />
            <meta-data
                android:name="from"
                android:value="null" />
            <meta-data
                android:name="to"
                android:value="null" />
            <meta-data
                android:name="type"
                android:value="Intercity" />
            <meta-data
                android:name="time"
                android:value="null" />

            <intent-filter>
                <action android:name="interdroid.swan.sensor.DISCOVER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TrainSensor"
            android:exported="true" >
        </service>

        <provider
            android:name="interdroid.swan.cuckoo_station_sensor.TrainSensor$Provider"
            android:authorities="interdroid.swan.cuckoo_station_sensor.train" />
    </application>

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="interdroid.vdb.permission.READ_DATABASE" />
    <uses-permission android:name="interdroid.vdb.permission.WRITE_DATABASE" />

    <!-- Start Permissions needed for Communication Offloading with Cuckoo -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="interdroid.swan.cuckoo_station_sensor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="interdroid.swan.cuckoo_station_sensor.permission.C2D_MESSAGE" />
    <!-- End Permissions needed for Communication Offloading with Cuckoo -->

</manifest>